@import "../styles/variables";

header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 24px;
  background-color: white;
  @include elevation;

  h1 {
    font-size: 1.8rem;
    color: $primary-color;
    font-weight: normal;
  }

  h1, a, span {
    margin: 0 24px 0 0;
  }

  div {
    margin-left: auto;
  }
}
